* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: monospace;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-snap-type: y proximity;
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.navbar .logo a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
}
.navbar .logo span {
  color: red;
}
.navbar .links li {
  display: inline-block;
  padding: 0 10px;
  transition: 0.5s;
}
.navbar .links li:hover {
  background-color: red;
  border-radius: 3px;
  border-bottom: 1px solid #fff;
}
.navbar .links li a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.slider {
  position: relative;
  width: 100%;
}
.slider .msg-cont {
  width: 600px;
  height: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.slider .msg-cont #slider {
  display: inline-flex;
  transition: 0.5s;
}
.slider .msg-cont .msg {
  width: 600px;
  height: 280px;
  padding: 10px;
}
.slider .msg-cont .msg h1 {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.slider .msg-cont .msg p {
  font-size: 20px;
  color: #999;
  margin-top: 10px;
  line-height: 25px;
}
.slider .msg-cont .msg a {
  padding: 10px 35px;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  border-radius: 30px;
  display: inline-block;
  margin-top: 10px;
  text-transform: uppercase;
}
.slider .cont {
  width: 1px;
  height: 320px;
  display: block;
  background-color: #c0c0c0;
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
}
.slider .cont #line1,
.slider .cont #line2,
.slider .cont #line3,
.slider .cont #line4 {
  width: 10px;
  height: 80px;
  cursor: pointer;
  transform: translateX(-50%);
}
.slider .cont #active {
  width: 5px;
  height: 80px;
  border-radius: 10px;
  background-color: #fff;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  transition: 0.5s;
}

.count-down {
  display: flex;
  justify-content: center;
  align-items: center;
}
.count-down > div {
  width: 150px;
  height: 150px;
  text-align: center;
}
.count-down > div span {
  font-size: 3rem;
  font-weight: bold;
}
.count-down > div p {
  font-size: 2rem;
  text-transform: uppercase;
}

.quiz-sec {
  display: flex;
  align-items: center;
  justify-content: center;
}
.quiz-sec .quiz-card {
  overflow: hidden;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 0 5px 5px rgba(177, 177, 177, 0.323);
  color: black;
  width: 500px;
}
.quiz-sec .quiz-card .question {
  text-align: center;
  font-size: 1.5rem;
  padding: 10px 0;
}
.quiz-sec .quiz-card .question p {
  font-size: 1rem;
  margin-top: 10px;
  color: #999;
}
.quiz-sec .quiz-card .answer {
  padding: 1.2rem 1.5rem;
  list-style: none;
}
.quiz-sec .quiz-card .answer li {
  margin: 15px 0;
  display: flex;
  align-items: center;
}
.quiz-sec .quiz-card .answer li label {
  margin-left: 10px;
  font-size: 1.1rem;
}
.quiz-sec .quiz-card .send button {
  font-weight: bold;
  width: 100%;
  height: 50px;
  background-color: red;
  color: white;
  border: none;
  outline: none;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.quiz-sec .quiz-card .send button:hover {
  background-color: #a51111;
}

.h-100vh {
  height: 100vh;
}