* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: white;
  background-color: #121212;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #d63031;
}

a {
  text-decoration: none;
}

.navbar {
  position: fixed;
  width: 50px;
  height: 100%;
  background-color: black;
  -webkit-transition: width 600ms ease;
  transition: width 600ms ease;
  overflow: hidden;
  z-index: 999;
}

.navbar:hover {
  width: 250px;
}

.navbar:hover .navbar-logo {
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(35%, #790909), to(red));
  background: linear-gradient(90deg, #020024 0%, #790909 35%, red 100%);
}

.navbar:hover .navbar-logo i {
  -webkit-transform: rotate(540deg);
          transform: rotate(540deg);
}

.navbar .navbar-logo {
  width: 100%;
  height: 10%;
  border-bottom: 1px solid #333;
  background-color: #333;
}

.navbar .navbar-logo .logo-item {
  width: 250px;
  height: 100%;
  padding: 5px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.navbar .navbar-logo .logo-item a {
  color: white;
  width: 100%;
  height: 100%;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar-logo .logo-item a .logo-icon {
  width: 40px;
}

.navbar .navbar-logo .logo-item a .logo-icon i {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar .navbar-logo .logo-item a .logo-text {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar .navbar-logo .logo-item a .logo-text span {
  color: red;
}

.navbar .navbar-nav {
  background-color: black;
  width: 100%;
  height: 80%;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

.navbar .navbar-nav::-webkit-scrollbar {
  width: 0.1rem;
}

.navbar .navbar-nav::-webkit-scrollbar-track {
  background: #1e1e24a6;
}

.navbar .navbar-nav::-webkit-scrollbar-thumb {
  background: #d63031;
}

.navbar .navbar-nav .nav-item {
  width: 250px;
  height: 50px;
  padding: 5px 0;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.navbar .navbar-nav .nav-item.active {
  background-color: #2e2e2e;
}

.navbar .navbar-nav .nav-item.active a {
  color: #d63031;
}

.navbar .navbar-nav .nav-item:hover {
  background-color: #2e2e2e;
}

.navbar .navbar-nav .nav-item a {
  color: white;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar-nav .nav-item a:hover .link-text {
  color: #d63031;
}

.navbar .navbar-nav .nav-item a .link-icon {
  width: 50px;
  text-align: center;
  fill: white;
}

.navbar .navbar-nav .nav-item a .link-text {
  margin-left: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .navbar-bottom {
  width: 100%;
  height: 10%;
  border-bottom: 1px solid #333;
  background-color: #131313;
}

.navbar .navbar-bottom .bottom-item {
  width: 250px;
  height: 100%;
  padding: 5px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.navbar .navbar-bottom .bottom-item a {
  color: white;
  width: 100%;
  height: 100%;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar-bottom .bottom-item a .bottom-icon {
  width: 40px;
}

.navbar .navbar-bottom .bottom-item a .bottom-icon i {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar .navbar-bottom .bottom-item a .bottom-text {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url(https://news.efinancialcareers.com/binaries/content/gallery/efinancial-careers/articles/2019/03/programmer.jpg);
  background-size: cover;
  background-position: center center;
}

.home h2 {
  font-size: 5rem;
  border-bottom: 1px solid #222;
}

.home h2 span {
  color: red;
}

.home h3 {
  font-size: 2.8rem;
}

.home h3 span {
  color: red;
}
