* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
    font-family: monospace;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-snap-type: y proximity;
}

.navbar {
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    .logo {
        a {
            text-decoration: none;
            color: white;
            font-size: 1.6rem;
            text-transform: uppercase;
            font-weight: bold;
        }

        span {
            color: red;
        }
    }

    .links {

        li {
            display: inline-block;
            padding: 0 10px;
            transition: .5s;

            &:hover {
                background-color: red;
            }

            a {
                text-decoration: none;
                color: white;
                font-size: 1.6rem;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 3px;
            }
        }
    }
}

.slider {
    position: relative;
    width: 100%;

    .msg-cont {
        width: 600px;
        height: 280px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;

        #slider {
            display: inline-flex;
            transition: 0.5s;
        }

        .msg {
            width: 600px;
            height: 280px;
            padding: 10px;

            h1 {
                font-size: 80px;
                font-weight: bold;
                letter-spacing: 5px;
                text-transform: uppercase;
            }

            p {
                font-size: 20px;
                color: #999;
                margin-top: 10px;
                line-height: 25px;
            }

            a {
                padding: 10px 35px;
                text-decoration: none;
                background-color: #fff;
                color: #000;
                font-weight: bold;
                border-radius: 30px;
                display: inline-block;
                margin-top: 10px;
                text-transform: uppercase;
            }
        }
    }

    .cont {
        width: 1px;
        height: 320px;
        display: block;
        background-color: #c0c0c0;
        position: absolute;
        top: 50%;
        right: 50px;
        transform: translateY(-50%);

        #line1,
        #line2,
        #line3,
        #line4 {
            width: 10px;
            height: 80px;
            cursor: pointer;
            transform: translateX(-50%);
        }

        #active {
            width: 5px;
            height: 80px;
            border-radius: 10px;
            background-color: #fff;
            position: absolute;
            top: 0;
            transform: translateX(-50%);

            transition: 0.5s;
        }
    }
}

.count-down {
    display: flex;
    justify-content: center;
    align-items: center;

    >div {
        width: 150px;
        height: 150px;
        text-align: center;

        span {
            font-size: 3rem;
            font-weight: bold;
        }

        p {
            font-size: 2rem;
            text-transform: uppercase;
        }
    }
}

.h-100vh {
    height: 100vh;
}