* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	color: black;
	text-shadow: 2px 2px white;
	// background: linear-gradient(45deg, #1e1e1e, #a41414);
	background: url(https://www.baenegocios.com/__export/1595440835383/sites/cronica/img/2020/07/22/depositphotos_61868743_xl-2015_x1x.jpg?__scale=c:transparent,w:375,h:211,t:3,p:0,q:80);
	background-size: cover;
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	&::-webkit-scrollbar {
		width: 0.25rem;
	}

	&::-webkit-scrollbar-track {
		background: #1e1e24;
	}

	&::-webkit-scrollbar-thumb {
		background: #d63031;
	}
}

a {
	text-decoration: none;
}

.app-title {
	font-size: 5rem;
	font-weight: bold;
	margin: 20px 0;
	span {
		color: red;
	}
}
.notification {
	background-color: rgb(245, 40, 40);
	padding: 5px;
	text-align: center;
	width: 50%;
	border-radius: 3px;
	color: white;
	font-size: 1.5rem;
	display: none;
}

.temperature-value {
	font-size: 5rem;
	font-weight: bold;
	cursor: pointer;
}
.temperature-description {
	font-size: 3rem;
	text-transform: uppercase;
	margin: 20px 0;
}
.location {
	font-size: 3rem;
}
