* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: #121212;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
  background: #d63031;
}

a {
  text-decoration: none;
}

.logo {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
  border-bottom: 1px solid #222;
}
.logo span {
  color: red;
}

.view-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}
.view-cont div > span {
  font-size: 1.2rem;
  margin-left: 20px;
  font-weight: bold;
}
.view-cont div > input {
  padding: 8px;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
}
.view-cont div > button {
  padding: 8px 10px;
  margin-left: 10px;
  border: 1px solid #888;
  outline: none;
  border-radius: 3px;
  background-color: transparent;
  color: white;
  transition: all 500ms ease-in-out;
}
.view-cont div > button:hover {
  background-color: white;
  color: black;
}

.view {
  width: 80%;
  height: 50vh;
  border-radius: 3px;
  border: 1px solid #444;
  background-color: #333;
  margin: 20px auto;
  padding: 5px;
  display: flex;
  box-shadow: 1px -1px 4px #bdbdbd59;
}
.view .child {
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: red;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
}
.controls .flex-item {
  border-bottom: 1px solid #222;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
}
.controls .flex-item div {
  cursor: pointer;
  padding: 10px;
  border-radius: 3px;
  border-right: 1px solid #888;
  border-left: 1px solid #888;
  transition: 300ms;
}
.controls .flex-item div:hover {
  background-color: #222;
}
.controls .flex-item h2 {
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-right: 40px;
  width: 250px;
}
.controls .flex-item label {
  font-size: 1rem;
  margin-left: 5px;
  cursor: pointer;
}