* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: black;
  text-shadow: 2px 2px white;
  background: url(https://www.baenegocios.com/__export/1595440835383/sites/cronica/img/2020/07/22/depositphotos_61868743_xl-2015_x1x.jpg?__scale=c:transparent,w:375,h:211,t:3,p:0,q:80);
  background-size: cover;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #d63031;
}

a {
  text-decoration: none;
}

.app-title {
  font-size: 5rem;
  font-weight: bold;
  margin: 20px 0;
}

.app-title span {
  color: red;
}

.notification {
  background-color: #f52828;
  padding: 5px;
  text-align: center;
  width: 50%;
  border-radius: 3px;
  color: white;
  font-size: 1.5rem;
  display: none;
}

.temperature-value {
  font-size: 5rem;
  font-weight: bold;
  cursor: pointer;
}

.temperature-description {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 20px 0;
}

.location {
  font-size: 3rem;
}

@media (max-width: 450px) {
  .app-title {
    font-size: 3rem;
  }
  .notification {
    font-size: 1rem;
  }
  .temperature-value {
    font-size: 4rem;
  }
  .temperature-description {
    font-size: 2rem;
  }
  .location {
    font-size: 2rem;
  }
}
