* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	color: white;
	background-color: #121212;
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	height: 100vh;
	&::-webkit-scrollbar {
		width: 0.25rem;
	}

	&::-webkit-scrollbar-track {
		background: #1e1e24;
	}

	&::-webkit-scrollbar-thumb {
		background: #d63031;
	}
	background: #0f3854;
	background: radial-gradient(ellipse at center, #400303 0%, #000000 70%);
}

a {
	text-decoration: none;
}
.clock {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	color: #daf6ff;
	text-shadow: 0 0 20px rgb(199, 43, 43), 0 0 20px rgba(10, 175, 230, 0);
	text-transform: uppercase;
	.date {
		letter-spacing: 0.1em;
		font-size: 2rem;
	}
	.time {
		letter-spacing: 0.05em;
		padding: 5px 0;
		margin-top: 20px;
		font-size: 6rem;
		font-weight: bold;
	}
}
