.heart-sec {
	position: relative;
	overflow: hidden;
	height: 100vh;
	#hearts {
		.heart {
			position: absolute;
			top: -1vh;
			transform: translateY(0);
			animation: fall 3s forwards;
			font-size: 2rem;
		}
	}
}

@keyframes fall {
	to {
		transform: translateY(110vh);
	}
}
