*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding-bottom: 100px;
  background: rgb(2, 88, 138);
  color: #fff;
}

.container {
  width: 80%;
  margin: auto;
  padding-top: 30px;
}

h1 {
  text-align: center;
}

.parent-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent-controls input,
.parent-controls button {
  min-width: 100px;
  height: 30px;
  text-align: center;
}

.parent-controls button {
  padding: 2px;
}

.parent-controls > div {
  margin: 0 10px 10px 10px;
}

.parent {
  width: 100%;
  margin: auto;
  padding: 20px;
  border: 2px double #fff;
  background: rgb(131, 131, 131);
  display: flex;
}

.childen {
  width: 200px;
  height: 100px;
  font-size: 80px;
  color: #fff;
  text-align: center;
  transition: all 0.5s ease-in-out;
  position: relative;
  cursor: pointer;
  z-index: 1;
  order: 1;
}

.childen:first-child {
  background: lightgreen;
}

/* .childen:nth-child(2) {
  background: darkgreen;
} */

/* .childen:last-child {
  background: darkmagenta;
} */

/* ------- Controals ---------- */

.controls {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  /* align-content: flex-start; */
}

.controls > div {
  margin-bottom: 10px;
  padding: 10px !important;
  border: 1px solid #fff;
  border-radius: 10px;
}

.controls div {
  padding: 5px 0;
}

.controls h2 {
  font-size: 20px;
  margin-right: 5px;
}

.controls .flex-dir,
.controls .flex-rp,
.controls .justify-cont,
.controls .align-cont,
.controls .align-items,
.childControl .align-self {
  display: flex;
}

.controls .flex-dir div,
.controls .flex-rp div,
.controls .justify-cont div,
.controls .align-cont div,
.controls .align-items div {
  margin: 0 10px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  border-right: 1px solid #fff;
}

.controls .flex-dir div:last-child,
.controls .flex-rp div:last-child,
.controls .justify-cont div:last-child,
.controls .align-cont div:last-child,
.controls .align-items div:last-child {
  border: none;
}

/* Child Controls */
.childControl {
  position: absolute;
  left: -30px;
  top: 0;
  transform: translateX(-50%);
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  font-size: 15px;
  z-index: 100;
  cursor: default;
}

.childControl::after {
  content: '';
  position: absolute;
  top: 30px;
  right: -16px;
  width: 30px;
  height: 30px;
  background-color: inherit;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: -100;
  transform: rotate(45deg);
  display: block;
}

.childControl .align-self {
  flex-direction: column;
}

.childControl .align-self > div {
  margin: 3px 0;
  padding-bottom: 15px;
}

.childControl span {
  margin-bottom: 5px;
  font-weight: normal;
  display: inline-block;
}

.childControl > div {
  margin: 5px 0;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.childControl input[type='text'],
.childControl input[type='number'] {
  width: 50px;
  text-align: center;
  outline: none;
}

.childControl button {
  margin-top: 15px;
  width: 100px;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 8px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .parent-controls {
    flex-wrap: wrap;
  }

  .controls {
    flex-direction: row;
  }

  .controls .flex-dir,
  .controls .flex-rp,
  .controls .justify-cont,
  .controls .align-cont,
  .controls .align-items,
  .childControl .align-self {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 5px;
  }

  .controls .flex-dir div,
  .controls .flex-rp div,
  .controls .justify-cont div,
  .controls .align-cont div,
  .controls .align-items div {
    border-right: none;
  }
}

/* Start Footer */
footer {
  padding: 30px 0;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: blue;
  font-size: 16px;
  font-weight: bold;
}
