.count-down {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	> div {
		width: 150px;
		height: 150px;
		text-align: center;

		span {
			font-size: 3rem;
			font-weight: bold;
		}

		p {
			font-size: 2rem;
			text-transform: uppercase;
		}
	}
}
