body {
	background-color: #121212;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-family: monospace;
}
.count-down {
	display: flex;
	justify-content: center;
	align-items: center;

	> div {
		width: 150px;
		height: 150px;
		text-align: center;
		span {
			font-size: 3rem;
			font-weight: bold;
		}

		p {
			font-size: 2rem;
			text-transform: uppercase;
		}
	}
	.sec span {
		color: red;
	}
}
