* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: #121212;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  height: 100vh;
}
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
  background: #d63031;
}

a {
  text-decoration: none;
}

.side-area {
  width: 25%;
  background-color: black;
  box-shadow: 3px 4px 15px #000000fc;
  overflow-x: hidden;
  overflow-y: scroll;
}
.side-area::-webkit-scrollbar {
  width: 0.1rem;
}
.side-area::-webkit-scrollbar-thumb {
  background: #d63031;
}
.side-area .logo {
  padding: 10px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-bottom: 1px solid #222;
  margin-bottom: 10px;
}
.side-area .logo span {
  color: red;
}
.side-area .active {
  background-color: #222;
}
.side-area .music-item {
  width: 100%;
  height: 60px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0 15px;
}
.side-area .music-item:hover {
  background-color: #222;
}
.side-area .music-item img {
  border-radius: 50%;
}
.side-area .music-item .music-name {
  text-align: center;
}
.side-area .music-item .music-name span {
  display: block;
}
.side-area .music-item .music-name .name {
  font-size: 1.1rem;
}
.side-area .music-item .music-name .time {
  color: #888;
}
.side-area .music-item .music-options {
  color: #888;
}

.main {
  width: 75%;
  position: relative;
}
.main .controller {
  width: 100%;
  height: 100px;
  box-shadow: 20px 1px 15px #000000fc;
  position: absolute;
  bottom: 0;
  background-color: black;
}
.main .controller .progres {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50%;
}
.main .controller .progres .audo-range {
  box-shadow: 0px 0px 10px #d8d0d0;
  width: 80%;
  outline: none;
  border: none;
  -webkit-appearance: none;
  transition: 500ms ease;
}
.main .controller .progres .audo-range::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: linear-gradient(45deg, #3d4244 0%, #424552 25%, #491917 100%);
  height: 2px;
}
.main .controller .progres .audo-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #d8d8d8;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
  margin-top: -7px;
}
.main .controller .progres .audo-range::-webkit-slider-thumb:hover {
  background: #910000;
}
.main .controller .control {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: color 500ms ease;
}
.main .controller .control > div {
  cursor: pointer;
}
.main .controller .control > div:hover {
  color: darkred;
}
.main .controller .control > div i {
  pointer-events: none;
}
.main .controller .control .fa-pause {
  color: darkred;
}