* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: #121212;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
  background: #d63031;
}

a {
  text-decoration: none;
}

.side-area {
  width: 25%;
  height: 100vh;
  background-color: black;
  position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
}
.side-area::-webkit-scrollbar {
  width: 0.1rem;
}
.side-area::-webkit-scrollbar-track {
  background: #1e1e24;
}
.side-area::-webkit-scrollbar-thumb {
  background: #d63031;
}
.side-area .logo {
  padding: 10px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-bottom: 1px solid #222;
  margin-bottom: 10px;
}
.side-area .logo span {
  color: red;
}
.side-area .active {
  background-color: #222;
}
.side-area .music-item {
  width: 100%;
  height: 60px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0 15px;
}
.side-area .music-item:hover {
  background-color: #111;
}
.side-area .music-item img {
  border-radius: 50%;
}
.side-area .music-item .music-name {
  text-align: center;
}
.side-area .music-item .music-name span {
  display: block;
}
.side-area .music-item .music-name .name {
  font-size: 1.2rem;
  font-weight: bold;
}
.side-area .music-item .music-name .time {
  color: #888;
}
.side-area .music-item .music-options {
  color: #888;
}

main {
  width: 75%;
  height: 100vh;
  position: absolute;
  right: 0;
}