* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #121212;
	color: white;
	font-family: monospace;
}
.text-sec2 {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;

	h2 {
		position: relative;
		font-size: 12em;
		color: black;
		-webkit-text-stroke: 0.2rem #333;
		text-transform: uppercase;
		font-weight: bold;
		text-shadow: 3px 1px #ffffff3b;
		&::before {
			position: absolute;
			top: 0;
			left: 0;
			content: attr(data-text);
			color: red;
			-webkit-text-stroke: 0.3vw #333;
			width: 0;
			height: 100%;
			border-right: 5px solid #333;
			overflow: hidden;
			animation: typing 6s linear infinite;
		}
	}
}

@keyframes typing {
	0%,
	10%,
	100% {
		width: 0%;
	}
	70%,
	90% {
		width: 100%;
	}
}
.text-sec {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;

	h2 {
		position: relative;
		font-size: 3rem;
		color: red;
		-webkit-text-stroke: 0.1rem #333;
		text-transform: uppercase;
		font-weight: bold;
		text-shadow: 2px 1px #ffffff3b;
		border-right: 3px solid #333;
	}
}
