body {
	background-color: #121212;
	color: white;
	font-family: monospace;
}
.text-sec {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;

	h2 {
		font-size: 2rem;
		font-weight: bold;
		text-transform: uppercase;
	}
}
