.count-down {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.count-down > div {
  width: 150px;
  height: 150px;
  text-align: center;
}
.count-down > div span {
  font-size: 3rem;
  font-weight: bold;
}
.count-down > div p {
  font-size: 2rem;
  text-transform: uppercase;
}